<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="fundsTransferByCustomerService2Soap11" />
                <binding name="fundsTransferByCustomerServiceSoap11" />
            </basicHttpBinding>
            <customBinding>
                <binding name="fundsTransferByCustomerService2HttpBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="fundsTransferByCustomerServiceHttpBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.quantiguous.com/fundsTransferByCustomerService2"
                binding="customBinding" bindingConfiguration="fundsTransferByCustomerService2HttpBinding"
                contract="com.quantiguous.api.FundsTransferByCustomerService2.fundsTransferByCustomerService2"
                name="fundsTransferByCustomerService2HttpPort" />
            <endpoint address="http://api.quantiguous.com/fundsTransferByCustomerService"
                binding="customBinding" bindingConfiguration="fundsTransferByCustomerServiceHttpBinding"
                contract="com.quantiguous.api.FundsTransferByCustomerService.fundsTransferByCustomerService"
                name="fundsTransferByCustomerServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>